body {
    background: url(./images/cloth_alike.png);
    font-family: 'Aldrich', sans-serif;
}

.changeNav {
    background-color:#263238;

}
h2{
    margin-left:20px
}
input,h4{
    color:#9e9e9e;
    
}
button{
    margin:5px
}
.item {
    float:left;
    margin:10px;
    background-color: #263238;
    color:#eceff1
}

.movie{
    font-family: 'Aldrich', sans-serif;
}
