body {
    background: url(./images/cartographer.png);
    font-family: 'Aldrich', sans-serif;
}

.changeNav {
    background-color:#607d8b;

}

input,h4{
    color:#9e9e9e;
    
}
.item {
    float:left;
    margin:10px;
    background-color: #607d8b;
    color:#eceff1
}
.movie{
    font-family: 'Aldrich', sans-serif;
}